html {
    background-color: #F0F0F4   ;
    font-size: 12px;
}

body {
    background-color: transparent;
    width: 100%;
    color: #000000;

}

hr {
    margin: 1em 0 1em 0;
    border: 1px solid #3694D1;
}

table, th, td {
    border-color: #FFA500;
}
/*============================================== /
/ ==================== HEADER=================== /
/ ============================================== */
header {
    position: fixed;
    border-bottom: 1px solid #FFA500;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3694D1;
    z-index: 10;
}
header #logo {
    height: 50px;
    padding: 10px;
    position: absolute;
    left: 5px;
}
header #asat {
    position: absolute;
    color: #EDAF24;
    top: 25px;
    right: 10px;
}
/*============================================== /
/ ===================== NAV ==================== /
/ ============================================== */
nav {
    position: fixed;
    left: 0;
    top: 50px;
    background-color: #3694D1;
    border-radius: 0;
    width: 180px;
    height: 550px;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

nav a:hover{
    color: #3694D1;
    background-color: #EAF1F4 !important;
    border-radius: 0;

}
nav a {
    display: block;
    color: #DCDDDE;
    background-color: #3694D1;
    border-radius: 0;
}
nav a.selected {
    border-radius: 0;
    color: #000000;
    background-color: #F0F0F4 !important;
    /*box-shadow: 50px 0 50px 0 rgba(200,200,200,0.1);*/
}

.list {
    font-weight: normal !important;
}

/*============================================== /
/ ================== SECTION== ================= /
/ ============================================== */

section {
    padding-left: 210px;
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    padding: 1em;
}

nav.main {
    width: 100%;
    border: 0 !important;
}

.main.console {
    margin-bottom: 160px;
}

nav p {
    font-size: 0.7em;
    margin: auto;
}

aside {
    background-color: white;
}
/*============================================== /
/ =================== ACTION =================== /
/ ============================================== */
article.action {
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-left: 70px;
    padding-right: 70px;
}
article.action.console {
}
.back {
    float: left;
}
.next {
    float: right;
}

/*============================================== /
/ ================= SPAN BADGED ================ /
/ ============================================== */

.span-disabled {
    background-color: #adadad;
}
.span-disabled a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
}

.span-enabled {
    background-color: #FFA500;
}
.span-enabled a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
}

/*============================================== /
/ ================= BREADCRUMB ================= /
/ ============================================== */
.breadcrumb-table {
    width: 95%;
    padding: 1em 0;
    margin: 2em auto;
    font-weight: normal;
    text-align: center;
    position: relative;
}
.breadcrumb-row {
    width: 100%;
    position: relative;
}
.breadcrumb-row:after {
    content: "";
    z-index: -1;
    height: 0;
    top: 75%;
    position: absolute;
    border-top: 2px solid #3694D1;
}
.breadcrumb-row.firewall:after {
    width: 66%;
    left: 17%;
}
.breadcrumb-row.deployment:after {
    width: 75%;
    left: 12%;
}
.breadcrumb-row i {
    position: relative;
    background-color: #F0F0F4;
    color: #3694D1;
}
.breadcrumb-table.firewall td {
    width: 33%;
}
.breadcrumb-table.deployment td {
    width: 25%;
}
/*============================================== /
/ ================== FIREWALL ================== /
/ ============================================== */
.firewall-test-result {
    text-align: center;
}
button {
    background-color: #3694D1 !important;
    color: white !important;
    font-weight: bold !important;
    border: 0 !important;
    box-shadow: 0 !important;
    border-radius: 0 !important;
    margin: 0 1em;
    padding: 0 1em;
}
button:hover {
    background-color: #166EB7 !important;
}

button.disabled, button.disabled:hover {
    background-color: #939598 !important;
}
label.disabled {
    color: #939598 !important;
}
input.chkbox {
    margin: 0 1em 0 -2em;

}
input {
    border: 1px solid #CCCCCC!important;
}

/*============================================== /
/ ================== DROPDOWN ================== /
/ ============================================== */
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

/*============================================== /
/ ================== INPUT ===================== /
/ ============================================== */
.isValid {
    box-shadow: 0 0 5px rgba(54, 148, 209, 0.5) inset;
    color: #3694D1;
}
.isNotValid {
    box-shadow: 0 0 5px rgba(198, 64, 61, 0.5) inset;
    color: #c6403d;
}

.asat-group {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    text-align: center;
    padding: 1em;
    margin: 1em;
}
.asat-group.half {
    float: left;
    margin: 0 1em;
    width: 40%;
}
.asat-group.half.left {
    float: left;
}
.asat-group.half.right {
    float: right;
}
.asat-group > input {
    margin-top: 1em;
}
.asat-group > div {
    width: 90%;
    margin: 1em auto 0 auto;
}
.asat-group.disabled:hover{
    border: 1px solid #FFA500;
}
.asat-group.enabled {
    background-color: #FFA500;
    color: white;
    border: 1px solid #FFA500 !important;

}
span.asat-group-addon {
    font-size: 14px;
    margin: 0 0 0 1em;
    pointer-events: none;
    vertical-align: middle;
}
.asat-group-addon.disabled:hover {
    border-color: #FFA500;
}
.asat-group-addon > i {
    margin: 0 1em 0 0;
}
/*============================================== /
/ ================== UPDATE ================== /
/ ============================================== */

/*============================================== /
/ ================== UPDATE ================== /
/ ============================================== */

hr.history {
    border-color: gray;
    margin-left: 15em;
    margin-right: 15em;
}
.release-note {
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset !important;
}
.cancelDL {
    color: white;
}
.cancelDL-disabled {
    color: #adadad;
    pointer-events: none;
}

.progress {
    width:75%;
    border: 1px solid #939598;
}
.progress.update {
    margin: 0 2em;
    float: left;
}
.progress.deployment {
    margin: auto;
}
/*============================================== /
/ ================== LICENSE =================== /
/ ============================================== */
.license {
    width: 90%;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset !important;
    font-family: monospace;
    color: black;
    margin: 1em auto;
}
/*============================================== /
/ ================= lIST-GROUP ================= /
/ ============================================== */
.list-group {
    width: 80%;
    margin: auto;
}

.list-group-item {
    background-color: #ffffff !important;
    color: #393939 !important;
    border: 1px solid #CCCCCC!important;
    border-radius: 0 !important;
    margin: 5px auto;
}

.list-group-item:hover {
    border-color: #FFA500 !important;
}

.list-group-item.active:hover,
.list-group-item.active {
    background-color: #FFA500 !important;
    border: 1px solid #FFA500 !important;
}

.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active .list-group-item-heading,
.list-group-item.active .list-group-item-text {
    color: white !important;
}
.list-group-item:hover .list-group-item-heading,
.list-group-item:hover .list-group-item-text,
.list-group-item .list-group-item-heading,
.list-group-item .list-group-item-text{
    color: #393939 !important;
}
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active .list-group-item-text,
.list-group-item:hover .list-group-item-text,
.list-group-item .list-group-item-text{
    opacity: 0.8 !important;
    font-size: 0.9em !important;
}



/*============================================== /
/ =================== FOOTER =================== /
/ ============================================== */
footer {
    bottom: 0;
    left: 0;
    position:fixed;
}

footer a, footer a:-webkit-any-link {
    position: fixed;
    left: 0;
    color: black;
    padding: 2px;
    font-size: 0.8em;
    background-color: #ccc;
    text-decoration: none;
}

footer a:hover {
    background-color: #222222;
    color: white;
    text-decoration: none;
}

footer.console a {
    bottom: 165px;
}
footer.no-console a {
    bottom: 0;
}
#console {
    position: fixed;
    left: 0;
    width: 100%;
    height: 165px;
    background-color: rgba(255,255,255,0.95);
    overflow-y: auto;

}
#console.console {
    bottom: 0;
}
#console.no-console {
    bottom: -165px;
}


